/* Nawigacja */
.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #555;
    color: #fff;
}

/* Zawartość */
.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.placeholder {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 1000px 100%;
    animation: shimmer 2s infinite linear;
}

.placeholder-glow {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}